{% extends "EspritUserBundle::ReservationTemplate.html.twig" %}
{% block contact %}
    <div class="input-group w3_w3layouts">

    <h1>welcome to update your flight  reservation</h1>

{{ form_start(Form) }}
    {{ form_widget(Form) }}
{{ form_end(Form) }}
    </div>
{% endblock %}