{% extends "EspritUserBundle::ReservationTemplate.html.twig" %}
{% block contact %}
<h1>welcome to update your host reservation</h1>
{{ form_start(Form) }}
    {{ form_widget(Form) }}
{{ form_end(Form) }}
{% endblock %}